<row id="myStuff">
  <column id="myMovies">
    <section class="card">
        <div class="card-body">
          <h3 class="card-title">My Movies</h3>
          <table>
            <tr>
              {{#each movies as |movie|}}
            <td>
              <a href="/movie/{{movie.id}}" class="card-body">
              <img src="{{movieImage}}">
              </a>
            </td>
          {{/each}}
            </tr>
          </table>
          <br/>
        </div>
    </section>
    <br/>
    <div class="btn-container">
      <a href="./newMovie"><button class="btn btn-dark">+ Add Movie</button></a>
    </div>
  </column>
  <column id="myShows">
    <section class="card">
        <div class="card-body">
          <h3 class="card-title">My Shows</h3>
          <table>
            <tr>
              {{#each shows as |show|}}
            <td>
              <a href="/show/{{show.id}}" class="card-body">
              <img src="{{showImage}}">
              </a>
            </td>
          {{/each}}
            </tr>
          </table>
        </div>
    </section>
    <br/>
    <div class="btn-container">
      <a href="./newShow"><button class="btn btn-dark">+ Add Show</button></a>
    </div>
  </column>
</row>
<script src="/js/dashboard.js"></script>
