<h1>Dashboard</h1>
<section id="existingblogs">
  <section class="card">
      <div class="card-body">
        <h3 class="card-title">Recently Added</h3>
        <table style="width:100%;">
          <tr>
            <td style="float:left;width:33.33%;padding:5px;">
              <img src="/assets/movie-poster-jaws.jpg" style="width:100%;">
            </td>
            <td style="float:left;width:33.33%;padding:5px;">
              <img src="/assets/sub-buzz-817-1649105149-10.jpg" style="width:100%;">
            </td>
            <td style="float:left;width:33.33%;padding:5px;">
              <img src="/assets/titanic.webp" style="width:100%;">
            </td>
          </tr>
        </table>
        <p class="card-text">{{content}}</p>
      </div>
  </section>
</section>
<section id="createNew" class="card text-center">
  <div class="card-body">
  <h3 class="card-title">Create New Post</h3>
  <form id="newBlog">
    <div class="card-text"></div>
      <label for="title">Title</label><br>
      <input type="text" id="title" placeholder="title">
    </div>
    <div class="card-text"></div>
      <label for="content">Content</label>
    <textarea id="content" placeholder="content"></textarea>
    </div>
    <button id="create">Create</button>
</form>
</div>
</section>
<form id="newpost">
    <button>+ New Post</button>
</form>
<script src="/js/dashboard.js"></script>
