<section id="newShow">
    <section class="card">
      <div class="card-body">
      <form id="newShowForm">
        <div class="form-group mb-2">
          <label class="form-label" for="showTitle">Title</label><br>
          <input class="form-control" type="text" id="showTitle" placeholder="Enter show title">
        </div>
        <div class="form-group mb-2">
          <label class="form-label" for="showYear">Year</label><br>
          <input class="form-control" type="text" id="showYear" placeholder="Enter show year">
        </div>
        <div class="form-group mb-2">
          <label class="form-label" for="showSynopsis">Synopsis</label><br>
          <textarea class="form-control" type="text" id="showSynopsis" placeholder="Enter show synopsis"></textarea>
        </div>
        <div class="form-group mb-2">
          <label class="form-label" for="showCreator">Creator</label><br>
          <input class="form-control" type="text" id="showCreator" placeholder="Enter show creator">
        </div>
        <div class="form-group mb-2">
          <label class="form-label" for="showWriter">Writer</label><br>
          <input class="form-control" type="text" id="showWriter" placeholder="Enter show writer">
        </div>
        <div class="form-group mb-2">
          <label class="form-label" for="showActors">Actors</label><br>
          <input class="form-control" type="text" id="showActors" placeholder="Enter show actors">
        </div>
        <div class="form-group mb-2">
          <label class="form-label" for="showImage">Poster</label><br>
          <input class="form-control" type="file" id="showImage" accept="image/*" />
        </div>
        <button class="btn btn-dark" type="submit">Create</button>
    </form>
  </div>
    </section>
  </section>
<script src="/js/newShow.js"></script>
