*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  }
  a,a:hover,a:link,a:visited{
  color:var(--nav-color);
  text-decoration: none;
  }
  :root{
  --body-color:#d9ead3;
  --text-color:#0e2431;
  --link-color:#f9b248;
  --secondary-color:#fc3a52;
  --nav-color:#231010;
  }
  body{
  background-color: #d9ead3;
  color: var(--text-color);
  }
  nav{
  height:30%;
  background-color: var(--nav-color);
  padding:2rem;
  }
  nav a{
  padding: 0 2rem;
  color: #d9ead3 !important;
  }
  nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  }
  nav li {
  float: left;
  }
  nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
  nav li a:hover:not(.active) {
  background-color: #111;
  }
  nav .active {
  background-color: #04AA6D;
  }
  #movies:after, #shows:after, #myStuff:after {
  content:"";
  display:table;
  clear:both;
  }
  #recentlyAdded{
  width: 75%;
  float: left;
  padding-right: 10px;
  }
  #favorites{
  width: 25%;
  float: right;
  padding-left: 10px;
  }
  #recentlyAdded table, #recentlyAdded img {
  width: 100%;
  }
  #recentlyAdded table td {
  float:left;
  width:33.33%;
  padding:5px;
  }
  #favorites li {
  padding:10px;
  }
  .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .btn-container .btn {
  margin: 5px;
  }
  /* Styling dashboard */
  #myMovies {
  width: 50%;
  float: left;
  padding-right: 10px;
  }
  #myShows {
  width: 50%;
  float: right;
  padding-left: 10px;
  }
  #myMovies table, #myShows table {
  width: 100%;
  }
  #myMovies table td, #myShows table td {
  float: left;
  width: 33.33%;
  padding: 5px;
  }
  #myMovies img, #myShows img {
  width: 100%;
  }
  /*Styling Sign Up Form*/
  #login{
  width: 50%;
  float: left;
  padding-right: 10px;
  }
  #signup{
  width: 50%;
  float: right;
  padding-left: 10px;
  }
  .btn{
  background-color:var(--nav-color);
  color: var(--body-color);
  }
  #login-container{
  border: 5px solid #231010;
  }
  /*Styling Movie Listing*/
  #movie {
  width: 100%;
  }
  #movie:after {
  content:"";
  display:table;
  clear:both;
  }
  #moviePoster{
  width: 50%;
  float: left;
  padding: 10px;
  }
  #movieInfo{
  width: 50%;
  float: right;
  padding: 10px;
  }
  #moviePoster img{
  width: 100%;
  padding: 10px;
  }
  /* Styling New Movie/Show Form */
